<div class ="container">
	<h1>Editing Pin</h1>

	<%= render 'form', pin: @pin %>
	<br>
	<%= link_to 'Show', @pin ,class:"btn btn-info"%> |
	<%= link_to 'Back', pins_path,class:"btn btn-warning" %>
</div>
